@import "../../styles";

.cartButton {
  display: flex;
  align-items: center;
  position: fixed;
  top: 290px;
  right: 1%;
  z-index: 10;
  text-decoration: none;
  @media all and (min-width: $xSmall) {
    top: 185px;
  }
  &:focus,
  &:hover,
  &:visited,
  &:link,
  &:active {
    text-decoration: none;
  }
  &_cart {
    margin-right: 5px;
    background-color: $mainOrangeColor;
    border-radius: 27px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &_cartCounter {
    color: $mainOrangeColor;
  }
  h1 h3 {
    text-align: center;
  }
}
