.App {
  text-align: center;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Toastify__toast-container {
  z-index: 11;
}

.Toastify__toast--success {
  background: #45a44b;
  font-family: "Montserrat";
  position: absolute;
  top: 50px;
}
.Toastify__toast--error {
  background: #f20656;
  font-family: "Montserrat";
  position: absolute;
  top: 50px;
}
.Toastify__close-button {
  align-self: center;
}
.Toastify__close-button > svg {
  height: 25px;
}

.errorMessage {
  color: #f20656;
  font-size: 11px;
  margin-top: 5px;
}

.loader {
  font-size: 8px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #f49100;
  background: -moz-linear-gradient(left, #f49100 10%, rgba(0, 0, 0, 0) 42%);
  background: -webkit-linear-gradient(left, #f49100 10%, rgba(0, 0, 0, 0) 42%);
  background: -o-linear-gradient(left, #f49100 10%, rgba(0, 0, 0, 0) 42%);
  background: -ms-linear-gradient(left, #f49100 10%, rgba(0, 0, 0, 0) 42%);
  background: linear-gradient(to right, #f49100 10%, rgba(0, 0, 0, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #f49100;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}
.loader:after {
  background: #0d465a;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
