.itemCard_addQuantity {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  &--counter {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: space-between;
    @media all and (min-width: 340px) {
      flex-direction: row;
    }
  }
  &--borderIcon {
    cursor: pointer;
    padding-right: 10px;
    color: $warningColor;
  }
  &--removeButton {
    padding-right: 10px;
    color: $mainOrangeColorOnHover;
    cursor: pointer;
  }
  &--addButton {
    @extend .itemCard_addQuantity--removeButton;
    color: $mainOrangeColor;
  }
}
