@import "../../styles.scss";
@import "../../mixins.scss";
@import "leftContent";
@import "rightContent";

.itemCard {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: $itemCardColor;
  border-radius: 30px;
  @include boxShadow(0px 0px 17px 0px $boxShadowColor);
  border: 4px solid $mainOrangeColor;
  margin: 10px;
  @media all and (min-width: $small) {
    flex-direction: row;
  }
  &_arrow {
    width: 0px;
    height: 0px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid $mainOrangeColor;
    position: absolute;
    top: 0;
    left: 330px;
    @media all and (min-width: $small) {
      flex-direction: row;
      left: 120px;
    }
  }
}
