//colors
$mainOrangeColor: #f49100;
$mainOrangeColorOnHover: #c96d06;
$labelColor: #e4e4e4;
$appBackgroundColor: #0d465a;
$textColor: #0d465a;
$itemCardColor: #e4e4e4;
$boxShadowColor: black;
$errorColor: #f49100;
$warningColor: #ec1d25;

//media width
$large: 1500px;
$small: 1090px;
$xSmall: 620px;
$lowestWidth: 320px;
