//colors
$mainOrangeColor: #f49100;
$mainOrangeColorOnHover: #c96d06;
$labelColor: gray;
$appBackgroundColor: #0d465a;
$itemCardColor: #e4e4e4;
$boxShadowColor: black;

//media width
$large: 1500px;
$small: 880px;
